h2 {
  font-family: Bahnschrift;
  font-size: 20px;
  padding-right: 580px;
}
#container{
  display: flex;
  align-items: center;
}
h5 {
  padding: 0px 5px;
  color: darkorange;
}
h4 {
  color: darkslategrey;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
nav {
  width: 100%;
  height: 60px;
  background-color: orange;
}
ul{
  margin-left: 60px;
}
ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 60px;
}
ul li a{
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
  color: white;
  padding: 0 20px;
  display: block;
}
ul li a:hover {
  color: dimgray;
}
p {
  font-family: arial;
  color: darkslategrey;
}
h3{
  font-family: Bahnschrift;
  font-size: 25px;
  color: white;
}
#holder{
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color:lightgrey;
}
#catch{
  display: flex;
  width: 100%;
  height: 200px;
  background-color:orange;
  float: left;
}
#catch p{
  text-align:left;
  color: darkslategrey;
}
h6{
  font-size: 25px;
  font-family: calibri;
  color: orange;
}
.pic{
  float: left;
}
/*Styling for the comment box in contact*/
.comment-box{
  width: 50%;
  border: 1px solid silver;
  margin: 50px 0;
  padding: 10px 20px;
  font-family: 'poppins', sans-serif;
  border-radius: 5px;
  margin-left: 25%;
  margin-top: 80px;
  box-shadow: 0px 0px 10px 1px rgb(165, 165, 165);
}
.comment-box p{
  text-align: left;
  font-size: 28px;
  color #777;
}
.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
  border: 1px solid #ddd;
  color: #777;
}
.comment-form button{
  margin: 10px 0;
  border: solid;
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  color: #444;
}
button:hover{
  color: white;
  background-color: #444;
}
@media(max-width: 900px){
  .comment-box{
    width: 80%;
    margin: 5%;
  }
}
